<%= form_for @task do |f| %>
  <%= render 'shared/errors', model: @task %>
  <div class=form-group>
    <%= f.text_field :description, class: 'form-control' %><br>
  </div>
  <%= f.submit 'Send', class: 'btn' %>
<% end %>
<%= link_to 'Back', :back %>
